:root {
    --primaryBackgroundColor1: #E5E5E5;
    --primaryDarkerBackgroundColor1: #b4b4b4;
    --primaryColor1: #5b5b5b;
    --primaryColor2: #9d9d9d;
    --primaryGreen1: #39FF14;
    --greenHover: #3ad51d;
    --black: #000000;
    --textGreen: #2cc010;
}